* {
    padding: 0;
    margin: 0;
}

#menu {
    height: 100px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 10% 70% 45%;
}

#logo {
    color: white;
    font-family: Arial;
    font-size: 50px;
    transform: translate(0, 20px);
    text-align: right;
}

#ff {
    text-align: center;
    width: 40%;
}

a {
    color: white;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
    margin: 2%;
    transform: translate(0, 20px);
}

#links {
    padding-top: 39px;
    width: 100%;
    margin-left: 1%;
    text-align: right;
}

#solicitar_uso {
    width: 150px;
    height: 50px;
    border-radius: 33px;
    cursor: pointer;
    background-color: white;
    transform: translate(0, 25px);
}

#conteudo {
    width: 100%;
    height: 700px;
    text-align: center;
}

#titulo {
    padding: 3%;
    font-family: Arial;
}

#conteudo_texto {
    width: 60%;
    height: 20vh;
    text-align: justify;
    transform: translate(32.5%);
}

#texto {
    font-family: Arial;
    font-size: 18px;
}

#parceiros {
    background-color: whitesmoke;
    width: 100%;
    height: 400px;
    text-align: center;
}

#contato {
    text-align: center;
    background-color: rgb(73, 69, 69);
    color: white;
    width: 100%;
    height: 300px;
}

h5 {
    font-family: Arial;
}